{% extends "base.html" %}

{% block title %}Qrcode{% endblock %}

{% block content %}
<div class="panel panel-success">
    <div class="panel-heading">
        <h2 style="text-align:center;">Yours QR Codes</h2>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Amount</th>
                <th scope="col">Date</th>
                <th scope="col">Description</th>
                <th scope="col">Details</th>
            </tr>
            </thead>
            <tbody>
{% for qrcode in qrcodes %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ qrcode.amount }}</td>
                <td>{{ qrcode.date }}</td>
                <td>{{ qrcode.description }}</td>
                <td><a href="http://localhost:8000/qrcode/{{qrcode.id}}/"><span class="glyphicon glyphicon-arrow-right" ></span></a></td>
            </tr>
{% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}