{% extends "base.html" %}

{% block title %}Qrcode{% endblock %}

{% block content %}
<div class="panel panel-success">
    <div class="panel-heading">
        <h2 style="text-align:center;">Transations</h2>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Sender</th>
                <th scope="col">Recipient</th>
                <th scope="col">Amount</th>
                <th scope="col">Date</th>
            </tr>
            </thead>
            <tbody>
{% for transaction in transactions %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ transaction.sender }}</td>
                <td>{{ transaction.recipient }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.date }}</td>
            </tr>
{% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}