{% extends "backend/base.html" %}

{% block title %}Qrcode{% endblock %}

{% block content %}
<h2>QR Code Creater</h2>
<form>
    <form>
        <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
        <div class="form-group">
            <label for="price">Recommended price:</label>
            <input id="price">
        </div>
        <div class="form-group">
            <button type="button" class="btn .btn-info" onclick="generateQRCode()">Generate Code</button>
            <button type="button" class="btn .btn-info" onclick="generateQRCode()">Export Code</button>
        </div>
    </form>
</form>
<div id="qrcodeTable"></div>
{% endblock %}